{% extends "djpcms/base.html" %}{% block site_header %}{% if sitenav %}
<div class="{{ grid.column1 }}">
{{ sitenav }}
</div>
{{ grid.clear }}{% endif %}
<div class="{{ grid.column1 }}">
 {{ breadcrumbs }}
</div>
{{ grid.clear }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block page_body %}
{{ inner }}
{% endblock %}
   
{% block site_footer %}
<a id="python-link" href="/" style="float:right;">
<img width=200 border="0" alt="python" src="{{ settings.PYTHON_LOGO_URL }}">
</a>
{% endblock %}