*.pyc
*.pyd
*.so
.eggs
*.log
*.egg-info
_dep.py

# IDE
.idea
.DS_Store

.coverage
.coveralls-repo-token
.Rhistory
htmlcov/
.settings/
dist/
build/
docs/build/
extensions/lib/*.c
profile/*.prof
parser.out
parsetab.py
MANIFEST
examples/ecoplot/media/ecoplot/rst/*
