*.pyc
*.pyd
*.so
_dep.py
.project
.pydevproject
.coverage
.Rhistory
htmlcov/
.settings/
dist/
build/
docs/build/
lib/src/*.c
profile/*.prof
parser.out
parsetab.py
MANIFEST
examples/ecoplot/media/ecoplot/rst/*
