include AUTHORS
include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include runtests.py
recursive-include dynts/templates *
recursive-include dynts/media *
recursive-include lib *.py
recursive-include lib/src *.pyx
recursive-include tests *.py
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
recursive-include docs *.rst